.skeleton{
  
    animation: skeleton-loading 1s linear infinite alternate;

}

@keyframes skeleton-loading{
    0%{
        background: white;
    }

    100%{
        background: rgb(172, 167, 167) ;
    }
}
